<div style="padding: 20px;">
    <mat-toolbar class="custom-toolbar" color="primary">
        <img src="../../assets/img/logo.jpg" alt="TSF" width="100" height="80" style="width: 100; height: 80">
        <span style="padding: 10px;"></span>
        <span style="color: #fb3;">The Soccer Family</span>
        <span class="spacer"></span>
        <div class='menu-spacer'></div>
        <span class='menu'><a routerLink='/home' style='color: #fb3;'>Home</a></span>
        <div class='menu-spacer'></div>
        <span class='menu'><a routerLink='/podcast'style='color: #fb3;'>Podcast</a></span>
        <div class='menu-spacer'></div>
        <span class='menu'><a routerLink='/family'style='color: #fb3;'>Family</a></span>
        <div class='menu-spacer'></div>
        <span class='menu'><a routerLink='/contact'style='color: #fb3;'>Contact</a></span>
        <span style="padding: 30px;"></span>
    </mat-toolbar>
</div>