<!-- <mat-grid-list cols="4" rowHeight="160px" [gutterSize]='0'>
    <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'#fb3'">
        FOOTER
    </mat-grid-tile>
</mat-grid-list> -->

<!-- <div style="padding: 20px;height:160px;">
</div> -->
<mat-toolbar class="custom-toolbar" [ngClass]="{'custom-toolbar-web': (isHandset$ | async) === false}" color="primary">
    <img src="../../assets/img/logo.jpg" alt="TSF" width="100" height="80" style="width: 100; height: 80">
    <span [ngStyle]="{'padding': (isHandset$ | async) ? '10px':'30px'}"></span>
    <span style="color: #036;">The Soccer Family</span>
</mat-toolbar>

<!-- [ngStyle]="{'padding' : (isHandset$ | async) === false ? '30px : '15px'}" -->