// mat-toolbar {
//     --default-height: 50px;
//   }
  
  mat-toolbar[color="primary"] {
    // bottom: 0;
    // left: 0;
    // position: fixed;
    // height: var(--default-height);
    // z-index: 1;
    background-color: #fb3;
  }

  .custom-toolbar {
    padding: 160px;
    font-style: italic; 
    font-weight: 600; 
    font-family: Chalkduster, fantasy;
  }

  .menu {
    cursor: pointer;
    font-family: monospace;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .menu-spacer {    
    padding: 20px;
  }