<section>
  <div class='center-image' style='background-image: url("../../assets/img/podcast.jpg");'>
  </div>

  <div style="text-align: center; padding: 10px;">
    <h1>Check out our 'the soccer family' stash below</h1>
  </div>

  <table mat-table [dataSource]="podcast$ | async" class="mat-elevation-z8">
    <!-- DATE Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> DATE </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    
    <!-- TIME Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> TIME </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} mins </td>
    </ng-container>

    <!-- HEADLINE Column -->
    <ng-container matColumnDef="headline">
      <th mat-header-cell *matHeaderCellDef> HEADLINE </th>
      <td mat-cell *matCellDef="let element"> {{element.headline}} </td>
    </ng-container>

    <!-- DESC Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>

    <!-- URL Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let element"> 
        <a target="_blank" href="{{element.url}}">
          <i class="fas fa-headphones-alt fa-2x icon-styling"></i>
        </a>  
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>