.center-image {
    padding: 300px;
    // background-image: url("../../assets/family.jpg");    
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



table {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.main-content-style {
    padding: 50px;
    // background-image: url("../../assets/water.jpg");
}