<section>
  <div class='center-image' style='background-image: url("../../assets/img/podcast.jpg");'>
  </div>

  <div style="text-align: center; padding: 10px;">
    <span style="font-family: sans-serif, fantasy; color: #036;">
      <h1 style="font-size: 3rem;">Check out the Soccer Family stash</h1>

      

      <a target="_blank" href="https://podcast.thesoccerfam.com">
        <span style="font-size: 2rem;">Listen...</span><i class="fas fa-headphones-alt fa-3x icon-styling"></i>
      </a>
    </span>
  </div>
</section>