<div style="padding: 20px;">

    <mat-toolbar class="custom-toolbar" color="primary">
        <span style="padding: 30px;"></span>
        <span style="color: #FFBB33;">The Soccer Family</span>
        <span class="spacer"></span>
        <span class='menu'>Home</span>
        <div class='menu-spacer'></div>
        <span class='menu'>Podcast</span>
        <div class='menu-spacer'></div>
        <span class='menu'>Family</span>
        <div class='menu-spacer'></div>
        <span class='menu'>Contact</span>
        <span style="padding: 30px;"></span>
    </mat-toolbar>

    
</div>