<section class='main-content-style'>
  <div class='center-image' style='
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-image: url("../../assets/family.jpg");'>


    <mat-card>
      <mat-card-header style="display: block;">
        <mat-card-title>
          Contact
        </mat-card-title>
        <mat-card-subtitle>Thanks for supporting our journey. If there is anything that you believe will help us on our
          way, please feel free to reach out</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="display: block;">

        <div style="width: 100%; background-color: #036; color: #036; text-align: right;">Podcast19</div>
        <form>          
          <br /><br />
          <mat-form-field>
            <mat-label>Email*</mat-label>
            <input matInput placeholder="Email required here" [(ngModel)]='contact.email' name="contactEmail">
          </mat-form-field>          
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input matInput placeholder="Enter subject here" [(ngModel)]='contact.subject' name='contactSubject'>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Enter message here" [(ngModel)]='contact.message'
              name='contactMessage'></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button disabled='disabled' mat-raised-button color="primary" (click)="sendEmail()">TODO: enable sendEmail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>