.center-image {
    padding: 100px;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

table {
    width: 100%;
}

.main-content-style {
    padding: 50px;
}