.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #FB3;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 10;
}

.icon-styling {
  color: black;
  padding: 0px 10px 20px 10px;  //top, right, bottom, left
}