<mat-sidenav-container class="sidenav-container" style="z-index: 0;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/podcast">Podcast</a>
      <a mat-list-item routerLink="/family">Family</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <a mat-list-item routerLink="/login">Login</a>
    </mat-nav-list>
    <br />
    <a target="_blank" title="Podcast" href="https://www.patreon.com/thesoccerfamily">
      <i class="fas fa-podcast fa-2x icon-styling"></i></a>
    <a target="_blank" title="Instagram" href="https://www.instagram.com/the.soccer.family/">
      <i class="fab fa-instagram fa-2x icon-styling"></i></a>
    <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UCNcOHahj8-xYRQI_ElWhq8Q">
      <i class="fab fa-youtube fa-2x icon-styling"></i></a>
    <a target="_blank" title="Facebook" href="https://www.facebook.com/TheSoccerFam/">
      <i class="fab fa-facebook fa-2x icon-styling"></i></a>
    <a target="_blank" title="Github" href="https://github.com/leightonmeredith/the-soccer-family">
      <i class="fab fa-github fa-2x icon-styling"></i></a>
    <a target="_blank" title="Twitter" href="https://twitter.com/thesoccerfam">
      <i class="fab fa-twitter fa-2x icon-styling"></i></a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <i class="fas fa-bars fa-2x"></i>
      </button>
      <app-header *ngIf="(isHandset$ | async) === false"></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div [ngStyle]="{'padding': (isHandset$ | async) ? '80px 0px 20px 0px':'150px 80px 50px 30px'}">
      <ng-content></ng-content>
    </div>
    <app-right-nav *ngIf="(isHandset$ | async) === false"></app-right-nav>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>