<section>

  <div *ngIf='family'>
    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let member of family" carouselSlide>
        <div (click)="getBio(member)" style="max-height: 300px;">
          <img src="{{member.img}}">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <span style="font-family: sans-serif, fantasy; color: #036;">
    <h1>
      Find out all you need to know about the soccer family.
      Click the Family member to see their detailed bio!
    </h1>
  </span>



  <div *ngIf="selectedMember.id != 0" class="bg-image" style="background-image: url('{{selectedMember.img}}');">
    <div class="bg-text">
      <h1 style="font-size:50px">
        <span class="info-title">
          Family Name:
        </span> {{selectedMember.name}}
      </h1>
      <h2>
        <span class="info-title">
          Team:
        </span>{{selectedMember.team}}
      </h2>
      <h3>
        <span class="info-title">
          Country:
        </span> {{selectedMember.country}}
      </h3>
      <h4></h4>
      <h1>
        {{selectedMember.desc}}
      </h1>
    </div>
  </div>
</section>