<section>


  <owl-carousel-o [options]="customOptions">
    <ng-template *ngFor="let member of family" carouselSlide>
      <div (click)="getBio(member)" style="max-height: 350px;">
        <img src="{{member.img}}">{{member.name}}
      </div>
    </ng-template>  
  </owl-carousel-o>


  Find out all you need to know about the soccer family. 
  Click the Family member to see their detailed bio! 

  <h1>
  Family Name: {{selectedMember.name}} 
  </h1>
  <p>    
  <strong>Description: {{selectedMember.desc}} </strong>
  </p>
  <p>
  Team: {{selectedMember.team}}
  </p>
  <p>
  Country: {{selectedMember.country}}
  </p>
</section>