<br />
<br />
<br />
<br />
<br />
<br />
<a target="_blank" href="https://www.patreon.com/thesoccerfamily">
    <i class="fas fa-podcast fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://www.instagram.com/the.soccer.family/">
<i class="fab fa-instagram fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://www.youtube.com/channel/UCNcOHahj8-xYRQI_ElWhq8Q">
<i class="fab fa-youtube fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://github.com/leightonmeredith/the-soccer-family">
<i class="fab fa-facebook fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://github.com/leightonmeredith/the-soccer-family">
<i class="fab fa-github fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://github.com/leightonmeredith/the-soccer-family">
<i class="fab fa-twitter fa-2x icon-padding"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" href="https://github.com/leightonmeredith/the-soccer-family">
<i class="far fa-envelope-open fa-2x icon-padding"></i></a>


<!-- 
<i style="cursor: pointer;" class="fas fa-podcast fa-circle fa-2x"></i> -->