<section class="fixed">
<a target="_blank" title="Podcast" href="https://podcast.thesoccerfam.com">
    <i class="fas fa-podcast fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Patreon" href="https://www.patreon.com/thesoccerfamily">
    <i class="fab fa-patreon fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Instagram" href="https://www.instagram.com/thesoccerfam_/">
<i class="fab fa-instagram fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Twitter" href="https://twitter.com/thesoccerfam">
<i class="fab fa-twitter fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Youtube" href="https://www.youtube.com/thesoccerfamily">
<i class="fab fa-youtube fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Facebook" href="https://www.facebook.com/TheSoccerFam/">
<i class="fab fa-facebook fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Github" href="https://github.com/leightonmeredith/the-soccer-family">
<i class="fab fa-github fa-2x icon-styling"></i></a>
<div class="breakpoint-padding">
    <br />
</div>
<a target="_blank" title="Email" href="mailto:thesoccerfamily1@gmail.com">
<i class="far fa-envelope-open fa-2x icon-styling"></i></a>


</section>