.icon-styling {
    cursor: pointer;
    color: black;
    padding: 0px 20px 0px 25px;
}

.breakpoint-padding {
    padding: 2px;
}

.fixed {
    top: 0;
    right: 0;
    position: fixed;
    height: var(--default-height);
    z-index: 1;
    padding-top: 130px;
    text-align: center;
}
