.center-image { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    text-align: right;
    background-image: url("../../assets/m_kg_akan.jpg");
    padding: 30px;
    padding-left: 70%;
    font-size: xx-large;
}


table {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.main-content-style {
    padding: 50px;
    // background-image: url("../../assets/water.jpg");
}