<section>
  <div class='center-image' [ngClass]="{'center-image-web': (isHandset$ | async) === false}">
    <br /><br />
    <a target="_blank" style=" font-family: 'Source Sans Pro';"
      href="{{podcast != undefined? podcast.url: ''}}">
      <div class="notification-space">
        <span style="font-family: sans-serif, fantasy;">
          {{podcast != undefined? podcast.headline: ''}}
        </span>
        <br/>
        <span style="font-family:monospace; font-size: 15px;">...listen now!!</span>
      </div>
    </a>
  </div>
</section>